classes/
test-classes/
*.iws
*.war
.classpath
.DS_Store
.project
.settings
/*.launch
/*.tmproj
/out/**
stacktrace.log
test/reports
Servers/
grails-common-0.1.zip
grailsAutoTest.log
target/
/*.idea
*.iml
workspace.xml
activemq-data
